go 1.23.0

use (
	./services/api-gateway
	./services/auth-service
	./services/user-asset-service
	./services/marketplace-integration-service
	./services/catalog-service
	./services/notification-service
	./tools/catalog-importer
)
